/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #A4A4A4;
  background-color: #FBFBFB;
}

h1, h2, h3, h4 {
  color: #4f4e4e;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fd7011;
  border-color: #d55f10;
}

.text-muted {
  color: #FFFFFF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.home-page .container-fluid img {
  width: 100%;
  height: auto;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
  background-color: #fd7011;
  border-color: #d55f10;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand>a,
.navbar-default .navbar-brand>a:hover {
  color: #ffffff;
  font-weight: bold;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d55f10;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #d55f10;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: #d55f10;
  background-color: #fba56a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #d55f10;
}

